{% extends 'layout.html.twig' %}

{% block body %}
    
<div class="row pb-4">
    <div class="col-sm-12">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-outline-secondary" href="{{ path('customer_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> {{ 'back'|trans|capitalize }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row pb-4">
    <div class="col-sm-12">               
        <h2>{{ 'customer_new'|trans|capitalize }}</h2>
    </div>
</div>
{{ form_start(form) }}            
    <div class="row pb-4">    
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(form.name) }}
                <div class="input-group-prepend">
                    <div class="input-group-text">{{ 'customer_name'|trans|capitalize }}</div>
                </div>    
                {{ form_widget(form.name) }}
            </div>
        </div>
    </div>
    <div class="row pb-4"> 
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(form.address) }}
                <div class="input-group-prepend">
                    <div class="input-group-text">{{ 'customer_address'|trans|capitalize }}</div>
                </div>    
                {{ form_widget(form.address) }}
            </div>
        </div>
    </div>             
    <div class="row pb-4"> 
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary">
                <i class="far fa-edit"></i> {{ 'create'|trans|capitalize }}
            </button>
        </div>            
    </div>
{{ form_end(form) }}

{% endblock %}
