{% extends 'layout.html.twig' %}

{% block body %}
    
<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>{{ 'customer'|trans|capitalize }}:</td>
                            <th>{{ customer.name }}</th>                         
                        </tr>
                    </tbody>
                </table> 
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('customer_edit', { 'id': customer.id }) }}" class="btn btn-default inline">
                    <i class="far fa-edit"></i> {{ 'edit'|trans|capitalize }}
                </a>
            </li>  
            <li class="nav-item pl-2">
              <button class="btn btn-light" id="print" {%if transfersFromTo is empty%}disabled{%endif%}>
                  <i class="fas fa-print"></i> {{ 'pdf'|trans|capitalize }}
              </button>        
            </li>
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('customer_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> {{ 'back'|trans|capitalize }}
                </a>
            </li>            
            <li class="nav-item pl-2">
                {{ form_start(delete_form, {'attr': {'class': 'inline'}}) }}
                    <button type="submit" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i> {{ 'delete'|trans|capitalize }}
                    </button>
                {{ form_end(delete_form) }}
            </li> 
        </ul>
    </div>
</div>     
<div class="row pb-4">
    <div class="col-sm-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>{{ 'customer_address'|trans|capitalize }}: {{ customer.address }}</td>
                    <td>{{ 'files_all'|trans|capitalize }}: <strong>{{ files.all }}</strong></td>
                    <td>{{ 'files_count_in'|trans|capitalize }}: <strong>{{ files.in }}</strong></td>
                    <td>{{ 'files_count_out'|trans|capitalize }}: <strong>{{ files.out }}</strong></td>
                    <td>{{ 'files_count_unknown'|trans|capitalize }}: <strong>{{ files.unknown }}</strong></td>
                    <td>{{ 'files_count_disposed'|trans|capitalize }}: <strong>{{ files.disposed }}</strong></td>                
                </tr>
            </tbody>
        </table>        
    </div>
</div>   
<div class="row pb-4">
    <div class="col-sm-12">
        <h4>{{ 'transfers'|trans|capitalize }}</h4>
    </div>
</div>                         
{{ form_start(transfersForm) }}
    <div class="row pb-4">            
        <div class="col-auto">                    
            <div class="input-group">
                {{ form_errors(transfersForm.dateFrom) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'date_from'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(transfersForm.dateFrom, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(transfersForm.dateTo) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'date_to'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(transfersForm.dateTo, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(transfersForm.type) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'type'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(transfersForm.type, {'attr': { 'multiple':'multiple', 'class': 'multiple' }}) }}
            </div>                    
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(transfersForm.sort) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'sort'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(transfersForm.sort) }}
            </div>                    
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light">
                <i class="fab fa-searchengin"></i> {{ 'search'|trans|capitalize }}
            </button>
        </div>
    </div>
{{ form_end(transfersForm) }} 

<div class="row pb-4">
    <div class="col-sm-12 printable">
        {% if transfersFromTo is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{{ 'date'|trans|capitalize }}</th>
                        <th scope="col">{{ 'type'|trans|capitalize }}</th>
                        <th scope="col">{{ 'customer'|trans|capitalize }}</th>
                        <th scope="col">{{ 'note'|trans|capitalize }}</th>
                        <th scope="col">{{ 'show'|trans|capitalize }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transfer in transfersFromTo %}
                        <tr>
                            <td>{{ transfer.date|date('d-m-Y') }}</td>
                            <td>
                                {% if transfer.type == 1 %}
                                    {{ 'transfer_in'|trans|capitalize }}
                                {% elseif transfer.type == 2 %}
                                    {{ 'transfer_out'|trans|capitalize }}
                                {% else %}
                                    {{ 'transfer_adjustment'|trans|capitalize }}
                                {% endif %}
                            </td>
                            <td>{{ transfer.customer.name }}</td>
                            <td>{{ transfer.note }}</td>
                            <td>
                                <a href="{{ path('transfer_show', { 'id': transfer.id }) }}">
                                    {{ 'show'|trans|capitalize }}
                                </a>
                            </td>                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>               
        {% elseif app.request.method is same as('POST') %}
            <div class="alert alert-light" role="alert">
                {{ 'no_results'|trans|capitalize }}
            </div>
        {% endif %}          
    </div>        
</div>

{% if transfersFromTo is not empty %}
    <div id="metadata" hidden>
        <p>{{ customer.name }} transfers</p>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>{{ 'date_from'|trans|capitalize }}:</td>
                    <th>{{ transfersForm.vars.value.dateFrom|date('d-m-Y') }}</th>
                    <td>{{ 'date_to'|trans|capitalize }}:</td>
                    <th>{{ transfersForm.vars.value.dateTo|date('d-m-Y') }}</th>
                    <td>{{ 'type'|trans|capitalize }}:</td>
                    <th>
                        {% if transfersForm.vars.value.type is not empty %}
                            {% for type in transfersForm.vars.value.type %}
                                {% if type == 1 %}
                                    {{ 'transfer_in'|trans|capitalize }}                       
                                {% elseif type == 2 %}
                                    {{ 'transfer_out'|trans|capitalize }}
                                {% else %}
                                    {{ 'transfer_adjustment'|trans|capitalize }}
                                {% endif %}
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            {{ 'all'|trans|capitalize }}
                        {% endif %}                        
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}
        
{% endblock %}
