{% extends 'layout.html.twig' %}

{% block body %}
    
<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Customer:</td>
                            <th>{{ customer.company }}</th>                         
                        </tr>
                    </tbody>
                </table> 
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('customer_edit', { 'id': customer.id }) }}" class="btn btn-default inline">
                    <i class="far fa-edit"></i> Edit
                </a>
            </li>  
            <li class="nav-item pl-2">
              <button class="btn btn-light">
                  <i class="fas fa-print"></i> Print
              </button>        
            </li>
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('customer_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> Back
                </a>
            </li>
            <li class="nav-item pl-2">
              <button class="btn btn-light" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="
                      Todo.
              ">
                  <i class="fas fa-info-circle"></i> Info
              </button>        
            </li>             
            <li class="nav-item pl-2">
                {{ form_start(delete_form, {'attr': {'class': 'inline'}}) }}
                    <button type="submit" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                {{ form_end(delete_form) }}
            </li> 
        </ul>
    </div>
</div>     
<div class="row pb-4">
    <div class="col-sm-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Address:</td>
                    <th>{{ customer.address }}</th>
                    <td>Number of files</td>
                    <th>{{ customer.files|length }}</th>
                    <td>Number of files in</td>
                    <th>
                        {% if filesIn.0.filesCount is defined %}
                            {{ filesIn.0.filesCount }}
                        {% else %}
                            0
                        {% endif %}
                    </th>
                    <td>Number of files out</td>
                    <th>
                        {% if filesOut.0.filesCount is defined %}
                            {{ filesOut.0.filesCount }}
                        {% else %}
                            0
                        {% endif %}
                    </th>                          
                </tr>
            </tbody>
        </table>        
    </div>
</div>   
<div class="row pb-4">
    <div class="col-sm-12">
        <h4>Transfers</h4>
    </div>
</div>                         
{{ form_start(transfersForm) }}
    <div class="row pb-4">            
        <div class="col-auto">                    
            <div class="input-group">
                {{ form_errors(transfersForm.dateFrom) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Date from</div>
            </div>    
                {{ form_widget(transfersForm.dateFrom, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(transfersForm.dateTo) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Date to</div>
            </div>    
                {{ form_widget(transfersForm.dateTo, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(transfersForm.type) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Type</div>
            </div>    
                {{ form_widget(transfersForm.type, {'attr': { 'multiple':'multiple', 'class': 'multiple' }}) }}
            </div>                    
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light">
                <i class="fab fa-searchengin"></i> Search
            </button>
        </div>
    </div>
{{ form_end(transfersForm) }} 

<div class="row pb-4">
    <div class="col-sm-12">
        {% if transfersFromTo is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Show</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transfer in transfersFromTo %}
                        <tr>
                            <td>{{ transfer.date|date('d-m-Y') }}</td>
                            <td>
                                {% if transfer.type == 1 %}
                                    In
                                {% elseif transfer.type == 2 %}
                                    Out
                                {% else %}
                                    Adjustment
                                {% endif %}
                            </td>
                            <td>{{ transfer.customer.company }}</td>
                            <td>
                                <a href="{{ path('transfer_show', { 'id': transfer.id }) }}">
                                    Show
                                </a>
                            </td>                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>               
        {% endif %}         
    </div>        
</div>
        
{% endblock %}
