{% extends 'layout.html.twig' %}

{% block body %}
    
<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <a>
                    <h2>Edit file {{ file.signature }}</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('file_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> Back
                </a>
            </li>
            <li class="nav-item pl-2">
                {{ form_start(delete_form, {'attr': {'class': 'inline'}}) }}
                    <button type="submit" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                {{ form_end(delete_form) }}
            </li> 
        </ul>
    </div>
</div>
{{ form_start(edit_form) }}            
    <div class="row pb-4">    
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.signature) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Signature</div>
            </div>    
                {{ form_widget(edit_form.signature) }}
            </div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.status) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Status</div>
            </div>    
                {{ form_widget(edit_form.status) }}
            </div>
        </div> 
    </div>
    <div class="row pb-4"> 
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.note) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Note</div>
            </div>    
                {{ form_widget(edit_form.note) }}
            </div>
        </div> 
    </div>
    <div class="row pb-4">
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.customer) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Customer</div>
            </div>    
                {{ form_widget(edit_form.customer) }}
            </div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-auto">
            <button type="submit" class="btn btn-light">
                <i class="far fa-edit"></i> Edit
            </button>
        </div>            
    </div>
{{ form_end(edit_form) }} 

{% endblock %}          