{% extends 'layout.html.twig' %}

{% block body %}
    
<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <a>
                    <h2>{{ 'file_edit'|trans|capitalize }} {{ file.signature }}</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('file_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> {{ 'back'|trans|capitalize }}
                </a>
            </li>
            <li class="nav-item pl-2">
              <button class="btn btn-light" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="
                      {{ 'info_file_edit'|trans }}
              ">
                  <i class="fas fa-info-circle"></i> {{ 'info'|trans|capitalize }}
              </button>        
            </li> 
            <li class="nav-item pl-2">
                {{ form_start(delete_form, {'attr': {'class': 'inline'}}) }}
                    <button type="submit" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i> {{ 'delete'|trans|capitalize }}
                    </button>
                {{ form_end(delete_form) }}
            </li> 
        </ul>
    </div>
</div>
{{ form_start(edit_form) }}            
    <div class="row pb-4">    
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.signature) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'signature'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.signature) }}
            </div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.status) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'status'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.status) }}
            </div>
        </div> 
    </div>
    <div class="row pb-4"> 
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.note) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'note'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.note) }}
            </div>
        </div> 
    </div>
    <div class="row pb-4">
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.customer) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'customer'|trans|capitalize }}</div>
            </div> 
                {% if file.transfers|length > 1 %}
                    {{ form_widget(edit_form.customer, { 'attr':{'disabled':'disabled'} }) }}
                {% else %}
                    {{ form_widget(edit_form.customer) }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-auto">
            <button type="submit" class="btn btn-light">
                <i class="far fa-edit"></i> {{ 'edit'|trans|capitalize }}
            </button>
        </div>            
    </div>
{{ form_end(edit_form) }} 

{% endblock %}          