{% extends "layout.html.twig" %}

{% block body %}
   
<div class="row pb-4">
    <div class="col-sm-12">               
        <ul class="nav float-right">
          <li class="nav-item pl-2 pb-2">
            <a class="btn btn-outline-success" href="{{ path('file_new') }}">
                <i class="fas fa-plus"></i> {{ 'file_new'|trans|capitalize }}
            </a>
          </li>
          <li class="nav-item pl-2 pb-2">
            <button class="btn btn-outline-primary" id="print" {%if searchResults is empty%}disabled{%endif%}>
                <i class="fas fa-print"></i> {{ 'pdf'|trans|upper }}
            </button>        
          </li>
          <li class="nav-item pl-2 pb-2">
            <button class="btn btn-outline-info" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="{{ 'info_file_index'|trans }}">
                <i class="fas fa-info-circle"></i> {{ 'info'|trans|capitalize }}
            </button>        
          </li>          
        </ul>
    </div>
</div>
<div class="row pb-4">
    <div class="col-sm-12">               
        <h2>{{ 'files'|trans|capitalize }}</h2>
    </div>
</div>                    
{{ form_start(searchForm) }}
    <div class="row pb-4">            
        <div class="col-sm-12 col-md-auto pb-2">                    
            <div class="input-group">
                {{ form_errors(searchForm.signature) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'signature'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(searchForm.signature) }}
            </div>
        </div>
        <div class="col-sm-12 col-md-auto pb-2">
            <div class="input-group">
                {{ form_errors(searchForm.status) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'status'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(searchForm.status, {'attr': {'multiple':'multiple', 'class': 'multiple' }}) }}
            </div>
        </div>
        <div class="col-sm-12 col-md-auto pb-2">
            <div class="input-group">
                {{ form_errors(searchForm.customer) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'customer'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(searchForm.customer, {'attr': {'multiple':'multiple', 'class': 'multiple-male' }}) }}
            </div>                     
        </div>
        <div class="col-sm-12 col-md-auto pb-2">
            <div class="input-group">
                {{ form_errors(searchForm.sort) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'sort'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(searchForm.sort) }}
            </div>                    
        </div>
        <div class="col-sm-12 col-md-auto pb-2">
            <button type="submit" class="btn btn-outline-primary">
                <i class="fab fa-searchengin"></i> {{ 'search'|trans|capitalize }}
            </button>
        </div>
    </div>
{{ form_end(searchForm) }}         
   
<div class="row pb-4">   
    <div class="col-sm-12 printable">
        {% if searchResults is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{{ 'signature'|trans|capitalize }}</th>
                        <th scope="col">{{ 'status'|trans|capitalize }}</th>
                        <th scope="col">{{ 'customer'|trans|capitalize }}</th>
                        <th scope="col">{{ 'location'|trans|capitalize }}</th>
                        <th scope="col">{{ 'note'|trans|capitalize }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in searchResults %}
                        <tr>
                            <td>
                                <a href="{{ path('file_show', { 'id': file.id }) }}">
                                    {{ file.signature }}
                                </a>
                            </td>
                            <td>  
                                {% if file.status == 1 %}
                                    {{ 'file_status_in'|trans|capitalize }}                                    
                                {% elseif file.status == 2 %}
                                    {{ 'file_status_out'|trans|capitalize }}
                                {% elseif file.status == 3 %}
                                    <span class="text-danger">{{ 'file_status_unknown'|trans|capitalize }}</span>
                                {% else %}
                                    <span class="text-warning">{{ 'file_status_disposed'|trans|capitalize }}</span>    
                                {% endif %}
                            </td>
                            <td>{{ file.customer.name }}</td>
                            <td>{{ file.location }}</td>
                            <td>{{ file.note }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elseif app.request.method is same as('POST') %}
            <div class="alert alert-light" role="alert">
                {{ 'no_results'|trans|capitalize }}
            </div>
        {% endif %}        
    </div>
</div>

{% if searchResults is not empty %}
    <div id="metadata" hidden>
        <h4>{{ 'files'|trans|capitalize }}</h4>
        <table class="table table-borderless">
            <tbody>
                <tr> 
                    <td>{{ 'status'|trans|capitalize }}:</td>
                    <th>
                        {% if searchForm.vars.value.status is not empty %}
                            {% for status in searchForm.vars.value.status %}
                                {% if status == 0 %}
                                    <span class="text-warning">{{ 'file_status_disposed'|trans|capitalize }}</span>
                                {% elseif status == 1 %}
                                    {{ 'file_status_in'|trans|capitalize }}                                     
                                {% elseif status == 2 %}
                                    {{ 'file_status_out'|trans|capitalize }}
                                {% else %}
                                    <span class="text-danger">{{ 'file_status_unknown'|trans|capitalize }}</span>
                                {% endif %}
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            {{ 'all'|trans|capitalize }}
                        {% endif %}                        
                    </th>
                    <td>{{ 'customers'|trans|capitalize }}:</td>
                    <th>
                        {% if searchForm.vars.value.customer is not empty %}
                            {% for customer in searchForm.vars.value.customer %}
                                {{ customer.name }}
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            {{ 'all_male'|trans|capitalize }}
                        {% endif %}                        
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}
        
{% endblock %}
