{% extends "layout.html.twig" %}

{% block body %}

    <div class="col-sm-12">
        <h1>Files</h1>
        <a class="btn btn-primary" href="{{ path('file_new') }}">New file</a>
        {{ form_start(searchForm) }}
            {{ form_widget(searchForm) }}
        {{ form_end(searchForm) }}        
    </div>
    <div class="col-sm-12">
        {% if searchResults is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Signature</th>
                        <th scope="col">Status</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in searchResults %}
                        <tr>
                            <td>
                                <a href="{{ path('file_show', { 'id': file.id }) }}">
                                    {{ file.signature }}
                                </a>
                            </td>
                            <td>{{ file.status }}</td>
                            <td>{{ file.customer.name }}</td>
                            <td>{{ file.note }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                
{#            <nav aria-label="">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
                    </li>
                    
                    <li class="page-item"><a class="page-link" href="?page={{page-1}}">Previous</a></li>                 
                    
                    <li class="page-item"><a class="page-link" href="?page={{page+1}}">Next</a></li>

                </ul>
            </nav> #}               
                
        {% endif %}         
    </div>
       
{% endblock %}
