{% extends 'layout.html.twig' %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-12">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-outline-secondary" href="{{ path('file_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> {{ 'back'|trans|capitalize }}
                </a>
            </li>
            <li class="nav-item pl-2">
              <button class="btn btn-outline-info" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="{{ 'info_file_new'|trans }}">
                  <i class="fas fa-info-circle"></i> {{ 'info'|trans|capitalize }}
              </button>        
            </li>
        </ul>
    </div>
</div>
<div class="row pb-4">
    <div class="col-sm-12">               
         <h2>{{ 'files_new'|trans|capitalize }}</h2>
    </div>
</div>
{{ form_start(form) }}            
    <div class="row">    
        <div class="col-sm-12 col-md-auto pb-2">
            <div class="input-group">
                {{ form_errors(form.signature) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'signature'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(form.signature) }}
            </div>
        </div> 
        <div class="col-sm-12 col-md-auto pb-2">
            <div class="input-group">
                {{ form_errors(form.status) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'status'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(form.status) }}
            </div>
        </div>
        <div class="col-sm-12 col-md-auto pb-2">
            <div class="input-group">
                {{ form_errors(form.customer) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'customer'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(form.customer) }}
            </div>
        </div>
    </div>
    <div class="row">  
        <div class="col-sm-12 col-md-auto pb-2">
            <div class="input-group">
                {{ form_errors(form.location) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'location'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(form.location) }}
            </div>
        </div> 
        <div class="col-sm-12 col-md-auto pb-2">
            <div class="input-group">
                {{ form_errors(form.note) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'note'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(form.note) }}
            </div>
        </div> 
    </div>
    <div class="row pb-2">  
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary">
                <i class="far fa-edit"></i> {{ 'create'|trans|capitalize }}
            </button>
        </div>            
    </div>
{{ form_end(form) }}

{% endblock %}
