{% extends 'layout.html.twig' %}

{% block body %}
    
<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Signature:</td>
                            <th>{{ file.signature }}</th>
                            <td>Customer:</td>
                            <th><a href="{{ path('customer_show', {'id':file.customer.id}) }}">{{ file.customer.name }}</a></th>
                            <td>Status:</td>
                            <th>
                                {% if file.status == 0 %}
                                    <span class="text-warning">Disposed</span>
                                {% elseif file.status == 1 %}
                                    In                                    
                                {% elseif file.status == 2 %}
                                    Out
                                {% else %}
                                    <span class="text-danger">Unknown</span>
                                {% endif %}
                            </th>
                        </tr>
                    </tbody>
                </table> 
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('file_edit', { 'id': file.id }) }}" class="btn btn-default inline">
                    <i class="far fa-edit"></i> Edit
                </a>
            </li>  
            <li class="nav-item pl-2">
              <button class="btn btn-light" id="print">
                  <i class="fas fa-print"></i> PDF
              </button>                  
            </li>
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('file_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> Back
                </a>
            </li>
            <li class="nav-item pl-2">
              <button class="btn btn-light" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="
                      Here you can see file details and also check inventory in's and out's for given period.<br>
                      Search results are limited to 100 records.
              ">
                  <i class="fas fa-info-circle"></i> Info
              </button>        
            </li>             
            <li class="nav-item pl-2">
                {{ form_start(delete_form, {'attr': {'class': 'inline'}}) }}
                    <button type="submit" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                {{ form_end(delete_form) }}
            </li> 
        </ul>
    </div>
</div>    
<div class="row pb-4">
    <div class="col-sm-12">
        <h4>Show transfers</h4>
    </div>
</div>
{{ form_start(transfersForm) }}
    <div class="row pb-4">            
        <div class="col-auto">                    
            <div class="input-group">
                {{ form_errors(transfersForm.dateFrom) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Date from:</div>
            </div>    
                {{ form_widget(transfersForm.dateFrom, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(transfersForm.dateTo) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Date to:</div>
            </div>    
                {{ form_widget(transfersForm.dateTo, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light float-right">
                <i class="fab fa-searchengin"></i> Search
            </button>
        </div>
    </div>
{{ form_end(transfersForm) }}                    

<div class="row pb-4">
    <div class="col-auto printable">         
        {% if transfersFromTo is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Show transfer</th>
                    </tr>  
                </thead>         
                <tbody>
                {% for transfer in transfersFromTo %}
                    <tr>
                        <td>
                            {% if transfer.type == 1 %}
                                In
                            {% elseif transfer.type == 2 %}
                                Out
                            {% else %}
                                Adjustment
                            {% endif %}                            
                        </td>
                        <td>{{ transfer.date|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path('transfer_show', { 'id': transfer.id }) }}">
                                Show
                            </a>                            
                        </td>
                    </tr>                
                {% endfor %}
                </tbody>
            </table>
        {% elseif app.request.method is same as('POST') %}
            <div class="alert alert-light" role="alert">
                No results
            </div>
        {% endif %}        
    </div>
</div>

{% if transfersFromTo is not empty %}
    <div id="metadata" hidden>
        <p>
            File {{ file.signature }} transfers 
            ({{ transfersForm.vars.value.dateFrom|date('d-m-Y') }} - {{ transfersForm.vars.value.dateTo|date('d-m-Y') }})
        </p>
    </div>
{% endif %}
        
{% endblock %}
