{% extends 'layout.html.twig' %}

{% block body %}
    
<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>{{ 'signature'|trans|capitalize }}:</td>
                            <th>{{ file.signature }}</th>
                            <td>{{ 'customer'|trans|capitalize }}:</td>
                            <th><a href="{{ path('customer_show', {'id':file.customer.id}) }}">{{ file.customer.name }}</a></th>
                            <td>{{ 'status'|trans|capitalize }}:</td>
                            <th>
                                {% if file.status == 0 %}
                                    <span class="text-warning">{{ 'file_status_disposed'|trans|capitalize }}</span>
                                {% elseif file.status == 1 %}
                                    {{ 'file_status_in'|trans|capitalize }}                                    
                                {% elseif file.status == 2 %}
                                    {{ 'file_status_out'|trans|capitalize }}
                                {% else %}
                                    <span class="text-danger">{{ 'file_status_unknown'|trans|capitalize }}</span>
                                {% endif %}
                            </th>
                        </tr>
                    </tbody>
                </table> 
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('file_edit', { 'id': file.id }) }}" class="btn btn-default inline">
                    <i class="far fa-edit"></i> {{ 'edit'|trans|capitalize }}
                </a>
            </li>  
            <li class="nav-item pl-2">
              <button class="btn btn-light" id="print" {%if app.request.method is same as('GET') %}disabled{%endif%}>
                  <i class="fas fa-print"></i> {{ 'pdf'|trans|upper }}
              </button>                  
            </li>
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('file_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> {{ 'back'|trans|capitalize }}
                </a>
            </li>
            <li class="nav-item pl-2">
              <button class="btn btn-light" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="{{ 'info_file_show'|trans|capitalize }}">
                  <i class="fas fa-info-circle"></i> {{ 'info'|trans|capitalize }}
              </button>        
            </li>             
            <li class="nav-item pl-2">
                {{ form_start(delete_form, {'attr': {'class': 'inline'}}) }}
                    <button type="submit" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i> {{ 'delete'|trans|capitalize }}
                    </button>
                {{ form_end(delete_form) }}
            </li> 
        </ul>
    </div>
</div>    
<div class="row pb-4">
    <div class="col-sm-12">
        <h4>{{ 'transfers_show'|trans|capitalize }}</h4>
    </div>
</div>
{{ form_start(transfersForm) }}
    <div class="row pb-4">            
        <div class="col-auto">                    
            <div class="input-group">
                {{ form_errors(transfersForm.dateFrom) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'date_from'|trans|capitalize }}:</div>
            </div>    
                {{ form_widget(transfersForm.dateFrom, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(transfersForm.dateTo) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'date_to'|trans|capitalize }}:</div>
            </div>    
                {{ form_widget(transfersForm.dateTo, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light float-right">
                <i class="fab fa-searchengin"></i> {{ 'search'|trans|capitalize }}
            </button>
        </div>
    </div>
{{ form_end(transfersForm) }}                    

<div class="row pb-4">
    <div class="col-auto printable">         
        {% if transfersFromTo is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>{{ 'type'|trans|capitalize }}</th>
                        <th>{{ 'date'|trans|capitalize }}</th>
                        <th>{{ 'transfer'|trans|capitalize }}</th>
                    </tr>  
                </thead>         
                <tbody>
                {% for transfer in transfersFromTo %}
                    <tr>
                        <td>
                            {% if transfer.type == 1 %}
                                {{ 'transfer_in'|trans|capitalize }}
                            {% elseif transfer.type == 2 %}
                                {{ 'transfer_out'|trans|capitalize }}
                            {% else %}
                                {{ 'transfer_adjustment'|trans|capitalize }}
                            {% endif %}                            
                        </td>
                        <td>{{ transfer.date|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path('transfer_show', { 'id': transfer.id }) }}">
                                {{ 'show'|trans|capitalize }}
                            </a>                            
                        </td>
                    </tr>                
                {% endfor %}
                </tbody>
            </table>
        {% elseif app.request.method is same as('POST') %}
            <div class="alert alert-light" role="alert">
                {{ 'no_results'|trans|capitalize }}
            </div>
        {% endif %}        
    </div>
</div>

{% if transfersFromTo is not empty %}
    <div id="metadata" hidden>
        <p>
            {{ 'file'|trans|capitalize }} {{ file.signature }}
            ({{ 'transfers'|trans }}: {{ transfersForm.vars.value.dateFrom|date('d-m-Y') }} - {{ transfersForm.vars.value.dateTo|date('d-m-Y') }})
        </p>
    </div>
{% endif %}
        
{% endblock %}
