{% extends "layout.html.twig" %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Number of files: <strong>{{ files.all }}</strong></td>
                    <td>Files in: <strong>{{ files.in }}</strong></td>
                    <td>Files out: <strong>{{ files.out }}</strong></td>
                    <td>Files missing: <strong>{{ files.unknown }}</strong></td>
                    <td>Files disposed: <strong>{{ files.disposed }}</strong></td>                
                </tr>
            </tbody>
        </table>        
    </div>
</div>    
    
{% endblock %}