{% extends "layout.html.twig" %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>{{ 'files_all'|trans|capitalize }}: <strong>{{ files.all }}</strong></td>
                    <td>{{ 'files_count_in'|trans|capitalize }}: <strong>{{ files.in }}</strong></td>
                    <td>{{ 'files_count_out'|trans|capitalize }}: <strong>{{ files.out }}</strong></td>
                    <td>{{ 'files_count_unknown'|trans|capitalize }}: <strong>{{ files.unknown }}</strong></td>
                    <td>{{ 'files_count_disposed'|trans|capitalize }}: <strong>{{ files.disposed }}</strong></td>                
                </tr>
            </tbody>
        </table>        
    </div>
</div>    
    
{% endblock %}