{% extends "layout.html.twig" %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-12">               
        <ul class="nav">
            <li class="nav-item">
                <a><h2>{{ 'import'|trans|capitalize }}</h2></a>
            </li>
        </ul>
    </div>
</div>   
{{ form_start(form) }}
    <div class="row pb-4">    
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(form.file) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'file'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(form.file) }}
            </div>
        </div>
    </div>   
    <div class="row pb-4"> 
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(form.customer) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'customer'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(form.customer) }}
            </div>
        </div> 
    </div>
    <div class="row pb-4">            
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary">
                <i class="far fa-edit"></i> {{ 'upload'|trans|capitalize }}
            </button>
        </div>            
    </div>
{{ form_end(form) }}  

{% endblock %}
