{% extends "layout.html.twig" %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <a>
                    <h2>{{ 'transfer_edit'|trans|capitalize }}</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('transfer_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> {{ 'back'|trans|capitalize }}
                </a>
            </li>
            <li class="nav-item pl-2">
              <button class="btn btn-light" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="{{ 'info_transfer_edit'|trans|capitalize }}">
                  <i class="fas fa-info-circle"></i> {{ 'info'|trans|capitalize }}
              </button>        
            </li>
        </ul>
    </div>
</div>
{{ form_start(edit_form) }}            
    <div class="row pb-4">    
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.type) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'type'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.type) }}
            </div>
        </div>
    </div>
    <div class="row pb-4"> 
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.files) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'files'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.files) }}
            </div>
        </div>
    </div>
    <div class="row pb-4"> 
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.boxes) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'boxes'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.boxes) }}
            </div>
        </div> 
    </div>
    <div class="row pb-4"> 
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.customer) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'customer'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.customer) }}
            </div>
        </div>
    </div>
    <div class="row pb-4"> 
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.date) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'date'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.date, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div> 
    </div>
    <div class="row pb-4"> 
        <div class="col-auto">
            <button type="submit" class="btn btn-light">
                <i class="far fa-edit"></i> {{ 'edit'|trans|capitalize }}
            </button>
        </div>            
    </div>
{{ form_end(edit_form) }}
        
{% endblock %}  

