{% extends "layout.html.twig" %}

{% block body %}

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">               
                <ul class="nav">
                    <li class="nav-item">
                        <a>Transfers</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">               
                <ul class="nav float-right">
                  <li class="nav-item">
                    <a class="btn btn-light" href="{{ path('transfer_new') }}">
                        <i class="fas fa-plus"></i> New transfer
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-light" href="#">
                        <i class="fas fa-print"></i> Print
                    </a>        
                  </li>
                </ul>
            </div>
        </div>
{#        <div class="row">
            <div class="col-sm-12">
                <h1>Transfers</h1>
            </div>
        </div>  #}    
        {{ form_start(searchForm) }}
            <div class="row">            
                <div class="col">                    
                    <div class="input-group">
                        {{ form_label(searchForm.dateFrom) }}
                        {{ form_errors(searchForm.dateFrom) }}
                    <div class="input-group-prepend">
                        <div class="input-group-text">Date from</div>
                    </div>    
                        {{ form_widget(searchForm.dateFrom) }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        {{ form_label(searchForm.dateTo) }}
                        {{ form_errors(searchForm.dateTo) }}
                    <div class="input-group-prepend">
                        <div class="input-group-text">Date to</div>
                    </div>    
                        {{ form_widget(searchForm.dateTo) }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        {{ form_label(searchForm.type) }}
                        {{ form_errors(searchForm.type) }}
                    <div class="input-group-prepend">
                        <div class="input-group-text">Type</div>
                    </div>    
                        {{ form_widget(searchForm.type, {'attr': {'multiple':'multiple'}}) }}
                    </div>                    
                </div>
                <div class="col">
                    <div class="input-group">
                        {{ form_label(searchForm.customer) }}
                        {{ form_errors(searchForm.customer) }}
                    <div class="input-group-prepend">
                        <div class="input-group-text">Customer</div>
                    </div>    
                        {{ form_widget(searchForm.customer, {'attr': {'multiple':'multiple'}}) }}
                    </div>                     
                </div>
                <div class="col-sm-2">
                    {#<input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
                    <button type="submit" class="btn btn-light">
                        <i class="fab fa-searchengin"></i> Search
                    </button>
                    {#{{ form_row(searchForm.search) }}#}
                </div>
            </div>
        {{ form_end(searchForm) }}         
    </div>
    <div class="col-sm-12">
        {% if searchResults is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Customer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transfer in searchResults %}
                        <tr>
                            <td>
                                <a href="{{ path('transfer_show', { 'id': transfer.id }) }}">
                                    {{ transfer.id }}
                                </a>
                            </td>
                            <td>{{ transfer.date|date('d-m-Y') }}</td>
                            <td>{{ transfer.type }}</td>
                            <td>{{ transfer.customer.name }}</td>                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>               
        {% endif %}         
    </div>
    
{% endblock %}
