{% extends "layout.html.twig" %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <a>
                    <h2>Add new transfer</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('transfer_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> Back
                </a>
            </li>
            <li class="nav-item pl-2">
              <button class="btn btn-light" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="
                      You can add multiple files - comma separated.<br>
                      Files are restricted to the choosen customer.
              ">
                  <i class="fas fa-info-circle"></i> Info
              </button>        
            </li>
        </ul>
    </div>
</div>
{{ form_start(form) }}            
    <div class="row pb-4">    
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(form.type) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Type</div>
            </div>    
                {{ form_widget(form.type) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(form.files) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Files</div>
            </div>    
                {{ form_widget(form.files) }}
            </div>
        </div> 
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(form.customer) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Customer</div>
            </div>    
                {{ form_widget(form.customer) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(form.date) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Date</div>
            </div>    
                {{ form_widget(form.date, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>             
        <div class="col-auto">
            <button type="submit" class="btn btn-light">
                <i class="far fa-edit"></i> Create
            </button>
        </div>            
    </div>
{{ form_end(form) }}
        
{% endblock %}  
