{% extends 'layout.html.twig' %}

{% block body %}
    
<div class="row pb-4">
    <div class="col-sm-12">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-outline-success" href="{{ path('transfer_edit', { 'id': transfer.id }) }}" class="btn btn-default inline">
                    <i class="far fa-edit"></i> {{ 'edit'|trans|capitalize }}
                </a>
            </li>  
            <li class="nav-item pl-2">
              <button class="btn btn-outline-primary" id="print" {%if transfer.files is empty%}disabled{%endif%}>
                  <i class="fas fa-print"></i> {{ 'pdf'|trans|capitalize }}
              </button>        
            </li>
            <li class="nav-item pl-2">
                <a class="btn btn-outline-secondary" href="{{ path('transfer_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> {{ 'back'|trans|capitalize }}
                </a>
            </li>
            <li class="nav-item pl-2">
              <button class="btn btn-outline-info" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="
                      {{ 'info_transfer_show'|trans|capitalize }}
              ">
                  <i class="fas fa-info-circle"></i> {{ 'info'|trans|capitalize }}
              </button>        
            </li>             
            <li class="nav-item pl-2">
                {{ form_start(delete_form, {'attr': {'class': 'inline'}}) }}
                    <button type="submit" class="btn btn-outline-danger" {%if canDelete == false%}disabled{%endif%}>
                        <i class="far fa-trash-alt"></i> {{ 'delete'|trans|capitalize }}
                    </button>
                {{ form_end(delete_form) }}
            </li> 
        </ul>
    </div>
</div>
<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                {{ 'customer'|trans|capitalize }}:
                <a href="{{ path('customer_show', {'id':transfer.customer.id}) }}">
                    {{ transfer.customer.name }}
                </a>
            </li>
            <li class="list-group-item">
                {{ 'type'|trans|capitalize }}:
                {% if transfer.type == 1 %}
                    {{ 'transfer_in'|trans|capitalize }}
                {% elseif transfer.type == 2 %}
                    {{ 'transfer_out'|trans|capitalize }}
                {% else %}
                    {{ 'transfer_adjustment'|trans|capitalize }}                    
                    {% if transfer.adjustmentType == 1 %}
                        ({{ 'file_status_in'|trans }})
                    {% elseif transfer.adjustmentType == 2 %}
                        ({{ 'file_status_out'|trans }})
                    {% elseif transfer.adjustmentType == 3 %}
                        ({{ 'file_status_unknown'|trans }})
                    {% else %}
                        ({{ 'file_status_disposed'|trans }})
                    {% endif %}                    
                {% endif %}                
            </li>
            <li class="list-group-item">
                 {{ 'date'|trans|capitalize }}: {{ transfer.date|date('Y-m-d') }}                
            </li>
        </ul>
    </div>
</div>
{% if transfer.boxes > 0 %}
    <div class="row pb-4">
        <div class="col-sm-12">
            <h4>{{ 'boxes'|trans|capitalize }}: {{ transfer.boxes }}</h4>
        </div>
    </div>
{% endif %}

{% if transfer.files is not empty %}
    <div class="row pb-4">
        <div class="col-sm-12">
            <h4>{{ 'files'|trans|capitalize }}</h4>
        </div>
    </div>    
{% endif %}

<div class="row pb-4">
    <div class="col-sm-12 printable">
        {% if transfer.files is not empty %}
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">{{ 'signature'|trans|capitalize }}</th>
                    <th scope="col">{{ 'status'|trans|capitalize }}</th>
                    <th scope="col">{{ 'customer'|trans|capitalize }}</th>
                    <th scope="col">{{ 'location'|trans|capitalize }}</th>
                    <th scope="col">{{ 'note'|trans|capitalize }}</th>
                </tr>
            </thead>
            <tbody>
                {% for file in transfer.files %}
                    <tr>
                        <td>
                            <a href="{{ path('file_show', { 'id': file.id }) }}">
                                {{ file.signature }}
                            </a>
                        </td>
                        <td>
                            {% if file.status == 1 %}
                                {{ 'file_status_in'|trans|capitalize }}                                    
                            {% elseif file.status == 2 %}
                                {{ 'file_status_out'|trans|capitalize }}
                            {% elseif file.status == 3 %}
                                <span class="text-danger">{{ 'file_status_unknown'|trans|capitalize }}</span>
                            {% else %}
                                <span class="text-warning">{{ 'file_status_disposed'|trans|capitalize }}</span>    
                            {% endif %}
                        </td>
                        <td>{{ file.customer.name }}</td>
                        <td>{{ file.location }}</td>
                        <td>{{ file.note }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-light" role="alert">
                {{ 'files_none'|trans|capitalize }}
            </div>            
        {% endif %}
    </div>
</div>

{% if transfer.files is not empty %}
    <div id="metadata" hidden>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>{{ 'transfer_date'|trans|capitalize }}:</td>
                    <th>{{ transfer.date|date('Y-m-d') }}</th> 
                    <td>{{ 'customer'|trans|capitalize }}:</td>
                    <th><a href="{{ path('customer_show', {'id':transfer.customer.id}) }}">{{ transfer.customer.name }}</a></th>
                    <td>{{ 'type'|trans|capitalize }}:</td>
                    <th>
                        {% if transfer.type == 1 %}
                            {{ 'transfer_in'|trans|capitalize }}
                        {% elseif transfer.type == 2 %}
                            {{ 'transfer_out'|trans|capitalize }}
                        {% else %}
                            {{ 'transfer_adjustment'|trans|capitalize }}
                            {% if transfer.adjustmentType == 1 %}
                                ({{ 'file_status_in'|trans }})
                            {% elseif transfer.adjustmentType == 2 %}
                                ({{ 'file_status_out'|trans }})
                            {% elseif transfer.adjustmentType == 3 %}
                                ({{ 'file_status_unknown'|trans }})
                            {% else %}
                                ({{ 'file_status_disposed'|trans }})
                            {% endif %} 
                        {% endif %}
                    </th>                           
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}
 
