{% extends "base.html.twig" %}

{% block navbar %}
    <div class="col-sm-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{path('index')}}">
                <i class="fas fa-database"></i> DBC
            </a>
            <button class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('file_index') }}">
                            Files
                        </a>                           
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('transfer_index') }}">
                            Transfers
                        </a>                           
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('customer_index') }}">
                            Customers
                        </a>                         
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fee_index') }}">
                            Fees
                        </a>                         
                    </li>                    
                </ul>
                <ul class="navbar-nav">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <span class="navbar-text pl-2">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        </span>
                        <li class="nav-item pl-2">
                            <a class="nav-link btn btn-light" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>                        
                    {% else %}
                      <li class="nav-item"><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                </ul>                              
            </div>                          
        </nav>
    </div>                        
{% endblock %} 
{% block info %}
    {{ include('info.html.twig') }}
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="col-sm-12">
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Footer</span>
        </nav>
    </div>
{% endblock %} 
