{% extends 'layout.html.twig' %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <a><h2>Calculate fee</h2></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-light" href="{{ path('fee_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> Back
                </a>
            </li>
            <li class="nav-item pl-2">
                <button class="btn btn-light" id="print" {%if app.request.method is same as('GET') %}disabled{%endif%}>
                    <i class="fas fa-print"></i> PDF
                </button>        
            </li>
            <li class="nav-item pl-2">
                <button class="btn btn-light" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="
                        Todo.
                ">
                    <i class="fas fa-info-circle"></i> Info
                </button>        
            </li>          
        </ul>
    </div>
</div>    
    
{{ form_start(form) }}            
    <div class="row pb-4">    
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(form.month) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Month</div>
            </div>    
                {{ form_widget(form.month, { 'attr' : { 'class': 'monthpicker' }}) }}
            </div>
        </div>            
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(form.customer) }}
            <div class="input-group-prepend">
                <div class="input-group-text">Customer</div>
            </div>    
                {{ form_widget(form.customer) }}
            </div>
        </div> 
        <div class="col-auto">
            <button type="submit" class="btn btn-light">
                <i class="far fa-edit"></i> Calculate
            </button>
        </div>            
    </div>
{{ form_end(form) }}
 
{% if calculation is not null %}
    <div class="row pb-4">    
        <div class="col-sm-12 printable">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Sum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Transfers (in)</th> 
                        <td>{{ calculation.transfers.import }}</td>
                        <td>{{ calculation.fees.import }}</td>
                        <td>{{ calculation.subtotals.0 }}</td>
                    </tr>
                    <tr>
                        <th>Transfers (out)</th> 
                        <td>{{ calculation.transfers.delivery }}</td>
                        <td>{{ calculation.fees.delivery }}</td>
                        <td>{{ calculation.subtotals.1 }}</td>
                    </tr>
                    <tr>
                        <th>Storage</th> 
                        <td>---</td>
                        <td>{{ calculation.fees.storage }}</td>
                        <td>{{ calculation.subtotals.2 }}</td>
                    </tr> 
                    <tr>
                        <th>Boxes</th> 
                        <td>{{ calculation.transfers.boxes }}</td>
                        <td>{{ calculation.fees.boxes }}</td>
                        <td>{{ calculation.subtotals.3 }}</td>
                    </tr> 
                    <tr>
                        <th colspan='3'>Sum</th>
                        <th>{{ calculation.total }}</th>
                    </tr>            
                </tbody>                             
            </table>
        </div>
    </div>
{% endif %}     

{% if calculation is not null %}
    <div id="metadata" hidden>
        <p>Calculation for {{ form.vars.value.customer.name }}
            ({{ form.vars.value.month|date('m-Y') }})
        </p>
    </div>
{% endif %}
    
{% endblock %}
