{% extends 'layout.html.twig' %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-12">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-outline-secondary" href="{{ path('fee_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> {{ 'back'|trans|capitalize }}
                </a>
            </li>
            <li class="nav-item pl-2">
                {{ form_start(delete_form, {'attr': {'class': 'inline'}}) }}
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="far fa-trash-alt"></i> {{ 'delete'|trans|capitalize }}
                    </button>
                {{ form_end(delete_form) }}
            </li> 
        </ul>
    </div>
</div>    
<div class="row pb-4">
    <div class="col-sm-12">               
        <h2>{{ 'edit_fee_for'|trans|capitalize }} {{ fee.customer.name }}</h2>
    </div>    
</div>    
{{ form_start(edit_form) }}  
    <div class="row pb-4"> 
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.import) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'transfer_in'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.import) }}
            </div>
        </div> 
    </div>
    <div class="row pb-4">    
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.delivery) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'transfer_out'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.delivery) }}
            </div>
        </div>
    </div>
    <div class="row pb-4"> 
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.storage) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'storage'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.storage) }}
            </div>
        </div> 
    </div>
    <div class="row pb-4"> 
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.boxPrice) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'box_price'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.boxPrice) }}
            </div>
        </div> 
    </div>
    <div class="row pb-4"> 
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="input-group">
                {{ form_errors(edit_form.customer) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'customer'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(edit_form.customer) }}
            </div>
        </div>
    </div>
    <div class="row pb-4"> 
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary">
                <i class="far fa-edit"></i> {{ 'edit'|trans|capitalize }}
            </button>
        </div>            
    </div>
{{ form_end(edit_form) }}

{% endblock %}