{% extends 'layout.html.twig' %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-12">               
        <ul class="nav float-right">
          <li class="nav-item pl-2">
            <a class="btn btn-outline-primary" href="{{ path('fee_calculate') }}">
                <i class="fas fa-cash-register"></i> {{ 'calculate'|trans|capitalize }}
            </a>
          </li>            
          <li class="nav-item pl-2">
            <a class="btn btn-outline-success" href="{{ path('fee_new') }}">
                <i class="fas fa-plus"></i> {{ 'fee_new'|trans|capitalize }}
            </a>
          </li>          
        </ul>
    </div>
</div>
<div class="row pb-4">
    <div class="col-sm-12">               
        <h2>{{ 'fees'|trans|capitalize }}</h2>
    </div>    
</div>
<div class="row pb-4">
    <div class="col-sm-12">
        {% if fees is not empty %}
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th>{{ 'transfer_in'|trans|capitalize }}</th>
                  <th>{{ 'transfer_out'|trans|capitalize }}</th>
                  <th>{{ 'storage'|trans|capitalize }}</th>
                  <th>{{ 'customer'|trans|capitalize }}</th>
                  <th>{{ 'show'|trans|capitalize }}</th>
                </tr>
              </thead>
              <tbody>
              {% for fee in fees %}
                <tr>
                  <td>{{ fee.delivery }}</td>
                  <td>{{ fee.import }}</td>
                  <td>{{ fee.storage }}</td>
                  <td>{{ fee.customer.name }}</td>
                  <td><a href="{{ path('fee_show', { 'id': fee.id }) }}">{{ 'show'|trans|capitalize }}</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
            <div class="alert alert-light" role="alert">
                {{ 'no_results'|trans|capitalize }}
            </div>
        {% endif %}          
    </div>
</div>
          
{% endblock %}