{% extends 'layout.html.twig' %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <a><h2>{{ 'files'|trans|capitalize }}</h2></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
          <li class="nav-item pl-2">
            <button class="btn btn-light" id="print" {%if filesSearchResults is empty%}disabled{%endif%}>
                <i class="fas fa-print"></i> {{ 'pdf'|trans|capitalize }}
            </button>        
          </li>
          <li class="nav-item pl-2">
            <button class="btn btn-light" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="
                    {{ 'info_file_index'|trans|capitalize }}
            ">
                <i class="fas fa-info-circle"></i> {{ 'info'|trans|capitalize }}
            </button>        
          </li>          
        </ul>
    </div>
</div>

<div class="row pb-4">
    <div class="col-sm-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>{{ 'files_all'|trans|capitalize }}: <strong>{{ filesCount.all }}</strong></td>
                    <td>{{ 'files_count_in'|trans|capitalize }}: <strong>{{ filesCount.in }}</strong></td>
                    <td>{{ 'files_count_out'|trans|capitalize }}: <strong>{{ filesCount.out }}</strong></td>
                    <td>{{ 'files_count_unknown'|trans|capitalize }}: <strong>{{ filesCount.unknown }}</strong></td>
                    <td>{{ 'files_count_disposed'|trans|capitalize }}: <strong>{{ filesCount.disposed }}</strong></td>                
                </tr>
            </tbody>
        </table>        
    </div>
</div>                 
                
{{ form_start(filesSearchForm) }}
    <div class="row pb-4">            
        <div class="col-auto">                    
            <div class="input-group">
                {{ form_errors(filesSearchForm.signature) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'signature'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(filesSearchForm.signature) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(filesSearchForm.status) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'status'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(filesSearchForm.status, {'attr': {'multiple':'multiple', 'class': 'multiple' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(filesSearchForm.sort) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'sort'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(filesSearchForm.sort) }}
            </div>                    
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light">
                <i class="fab fa-searchengin"></i> {{ 'search'|trans|capitalize }}
            </button>
        </div>
    </div>
{{ form_end(filesSearchForm) }}

<div class="row pb-4">   
    <div class="col-sm-12 printable">
        {% if filesSearchResults is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{{ 'signature'|trans|capitalize }}</th>
                        <th scope="col">{{ 'status'|trans|capitalize }}</th>
                        <th scope="col">{{ 'location'|trans|capitalize }}</th>
                        <th scope="col">{{ 'note'|trans|capitalize }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in filesSearchResults %}
                        <tr>
                            <td>
                                {{ file.signature }}
                            </td>
                            <td>
                                {% if file.status == 0 %}
                                    <span class="text-warning">{{ 'file_status_disposed'|trans|capitalize }}</span>
                                {% elseif file.status == 1 %}
                                    {{ 'file_status_in'|trans|capitalize }}                                    
                                {% elseif file.status == 2 %}
                                    {{ 'file_status_out'|trans|capitalize }}
                                {% else %}
                                    <span class="text-danger">{{ 'file_status_unknown'|trans|capitalize }}</span>
                                {% endif %}
                            </td>
                            <td>{{ file.location }}</td>
                            <td>{{ file.note }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elseif app.request.method is same as('POST') %}
            <div class="alert alert-light" role="alert">
                {{ 'no_results'|trans|capitalize }}
            </div>
        {% endif %}        
    </div>
</div>

{% if filesSearchResults is not empty %}
    <div id="metadata" hidden>
        <h4>{{ 'files'|trans|capitalize }}</h4>
        <table class="table table-borderless">
            <tbody>
                <tr> 
                    <td>{{ 'status'|trans|capitalize }}:</td>
                    <th>
                        {% if filesSearchForm.vars.value.status is not empty %}
                            {% for status in filesSearchForm.vars.value.status %}
                                {% if status == 0 %}
                                    <span class="text-warning">{{ 'file_status_disposed'|trans|capitalize }}</span>
                                {% elseif status == 1 %}
                                    {{ 'file_status_in'|trans|capitalize }}                                    
                                {% elseif status == 2 %}
                                    {{ 'file_status_out'|trans|capitalize }}
                                {% else %}
                                    <span class="text-danger">{{ 'file_status_unknown'|trans|capitalize }}</span>
                                {% endif %}
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            {{ 'files_all'|trans|capitalize }}
                        {% endif %}                        
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}