{% extends "layout.html.twig" %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <a><h2>{{ 'users'|trans|capitalize }}</h2></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
          <li class="nav-item pl-2">
            <a class="btn btn-light" href="{{ path('user_new') }}">
                <i class="fas fa-plus"></i> {{ 'user_new'|trans|capitalize }}
            </a>
          </li>        
        </ul>
    </div>
</div>
<div class="row pb-4">   
    <div class="col-sm-12">
        {% if users is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{{ 'user_name'|trans|capitalize }}</th>
                        <th scope="col">{{ 'user_address'|trans|capitalize }}</th>
                        <th scope="col">{{ 'user_role'|trans|capitalize }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="{{ path('user_show', { 'id': user.id }) }}">
                                    {{ user.username }}
                                </a>
                            </td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {% if role is same as('ROLE_SUPER_ADMIN') %}
                                        {{ 'role_super_admin'|trans|capitalize }}
                                    {% elseif role is same as('ROLE_ADMIN') %}
                                        {{ 'role_admin'|trans|capitalize }}    
                                    {% elseif role is same as('ROLE_CUSTOMER') %}
                                        {{ 'role_customer'|trans|capitalize }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}         
    </div>
</div>
    
{% endblock %}
