{% extends 'layout.html.twig' %}

{% block body %}
    
<div class="row pb-4">
    <div class="col-sm-12">               
        <ul class="nav float-right">
            <li class="nav-item pl-2">
                <a class="btn btn-outline-success" href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-default inline">
                    <i class="far fa-edit"></i> {{ 'edit'|trans|capitalize }}
                </a>
            </li>  
            <li class="nav-item pl-2">
                <a class="btn btn-outline-secondary" href="{{ path('user_index') }}" class="btn btn-default inline">
                    <i class="fas fa-undo"></i> {{ 'back'|trans|capitalize }}
                </a>
            </li>
            <li class="nav-item pl-2">
              <button class="btn btn-outline-info" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="
                      Todo.
              ">
                  <i class="fas fa-info-circle"></i> {{ 'info'|trans|capitalize }}
              </button>        
            </li>             
            <li class="nav-item pl-2">
                {{ form_start(delete_form, {'attr': {'class': 'inline'}}) }}
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="far fa-trash-alt"></i> {{ 'delete'|trans|capitalize }}
                    </button>
                {{ form_end(delete_form) }}
            </li> 
        </ul>
    </div>
</div> 
<div class="row pb-4">
    <div class="col-sm-12">               
        <h2>{{ user.username }}</h2>
    </div>    
</div>
<div class="row pb-4">
    <div class="col-sm-12">        
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                {{ 'email'|trans|capitalize }}: {{ user.email }}
            </li>
            <li class="list-group-item">
                {{ 'user_role'|trans|capitalize }}:
                {% for role in user.roles %}
                    {% if role is same as('ROLE_SUPER_ADMIN') %}
                        {{ 'role_super_admin'|trans|capitalize }}
                    {% elseif role is same as('ROLE_ADMIN') %}
                        {{ 'role_admin'|trans|capitalize }}    
                    {% elseif role is same as('ROLE_CUSTOMER') %}
                        {{ 'role_customer'|trans|capitalize }}
                    {% endif %}
                {% endfor %}                
            </li>
            <li class="list-group-item">
                {{ 'last_login'|trans|capitalize }}: {{ user.lastLogin|date('Y-m-d H:i') }}
            </li>
        </ul>       
    </div>
</div>   
        
{% endblock %}
