{% extends 'layout.html.twig' %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <a><h2>{{ 'transfers'|trans|capitalize }}</h2></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
          <li class="nav-item pl-2">
            <button class="btn btn-light" id="print" {%if app.request.method is same as('GET') %}disabled{%endif%}>
                <i class="fas fa-print"></i> {{ 'pdf'|trans|capitalize }}
            </button>        
          </li>
          <li class="nav-item pl-2">
            <button class="btn btn-light" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="
                    {{ 'info_transfer_index'|trans }}
            ">
                <i class="fas fa-info-circle"></i> {{ 'info'|trans|capitalize }}
            </button>        
          </li>          
        </ul>
    </div>
</div>    
    
{{ form_start(transfersSearchForm) }}
    <div class="row pb-4">            
        <div class="col-auto">                    
            <div class="input-group">
                {{ form_errors(transfersSearchForm.dateFrom) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'date_from'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(transfersSearchForm.dateFrom, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(transfersSearchForm.dateTo) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'date_to'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(transfersSearchForm.dateTo, { 'attr' : { 'class': 'datepicker' }}) }}
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(transfersSearchForm.type) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'type'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(transfersSearchForm.type, {'attr': {'multiple':'multiple', 'class': 'multiple'}}) }}
            </div>                    
        </div>
        <div class="col-auto">
            <div class="input-group">
                {{ form_errors(transfersSearchForm.sort) }}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ 'sort'|trans|capitalize }}</div>
            </div>    
                {{ form_widget(transfersSearchForm.sort) }}
            </div>                    
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light">
                <i class="fab fa-searchengin"></i> {{ 'search'|trans|capitalize }}
            </button>
        </div>
    </div>
{{ form_end(transfersSearchForm) }}

<div class="row pb-4">  
    <div class="col-sm-12 printable">
        {% if transfersSearchResults is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{{ 'date'|trans|capitalize }}</th>
                        <th scope="col">{{ 'type'|trans|capitalize }}</th>
                        <th scope="col">{{ 'show'|trans|capitalize }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transfer in transfersSearchResults %}
                        <tr>
                            <td>{{ transfer.date|date('d-m-Y') }}</td>
                            <td>
                                {% if transfer.type == 1 %}
                                    {{ 'transfer_in'|trans|capitalize }}
                                {% elseif transfer.type == 2 %}
                                    {{ 'transfer_out'|trans|capitalize }}
                                {% else %}
                                    {{ 'transfer_adjustment'|trans|capitalize }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('user_transfer', { 'id': transfer.id }) }}">
                                    {{ 'show'|trans|capitalize }}
                                </a>
                            </td>                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>               
        {% elseif app.request.method is same as('POST') %}
            <div class="alert alert-light" role="alert">
                {{ 'no_results'|trans|capitalize }}
            </div>
        {% endif %}         
    </div>
</div>

{% if transfersSearchResults is not empty %}
    <div id="metadata" hidden>
        <h4>{{ 'transfers'|trans|capitalize }}</h4>
        <table class="table table-borderless">
            <tbody>
                <tr>                   
                    <td>{{ 'type'|trans|capitalize }}:</td>
                    <th>
                        {% if transfersSearchForm.vars.value.type is not empty %}
                            {% for type in transfersSearchForm.vars.value.type %}
                                {% if type == 1 %}
                                    {{ 'transfer_in'|trans|capitalize }}                       
                                {% elseif type == 2 %}
                                    {{ 'transfer_out'|trans|capitalize }}
                                {% else %}
                                    {{ 'transfer_adjustment'|trans|capitalize }}
                                {% endif %}
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            {{ 'all'|trans|capitalize }}
                        {% endif %}                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>{{ 'date_from'|trans|capitalize }}:</td>
                    <th>{{ transfersSearchForm.vars.value.dateFrom|date('d-m-Y') }}</th>
                    <td>{{ 'date_to'|trans|capitalize }}:</td>
                    <th>{{ transfersSearchForm.vars.value.dateTo|date('d-m-Y') }}</th>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}        
        
{% endblock %}